<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>صفحه امنیتی</title>
    <link rel="stylesheet" href="/css/dontAcces.css" />
  </head>
  <body>
    <div class="container">
      <h3>
        شما به این صفحه دسترسی ندارید، لطفاً ابتدا
        <a href="/">لاگین</a> کنید
      </h3>
    </div>
  </body>
</html>
